.rate {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
    
.rate-li {
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 30px;
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 23px solid #555;
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
    border-top: 23px solid #555;
    margin-top: 15px;
}